<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-8 align-self-center">
            <h4 class="page-title mb-0">{{pageInfo?.title}}</h4>
        </div>
        <div class="col-4 text-right">
            <div *ngIf="pageInfo?.title==='Examenes'">
                <a class="btn btn-success" routerLink="/docente/examenes/agregar"><i class="fa fa-plus"></i> Añadir examen</a>
            </div>
            <div *ngIf="pageInfo?.title==='Detalles de Exemen' || pageInfo?.title==='Agregar examenes'">
                <a class="btn btn-warning" routerLink="/docente/examenes"><i class="fa fa-arrow-left"></i> Regresar</a>
            </div>

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->